/*start modalAlert*/
.shape_alert_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1005;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
#overLayIncompatibleBrowser{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #E9EEF1;
    z-index: 1009;
    bottom: 0;

}
.contentUnsupported{
    background: none repeat scroll 0 0 #FFFFFF;
    height: auto;
    margin: 1%;
    padding: 3%;


}
.headerUnsupported{
    color: #1C1C1C;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}
.descriptionUnsupported{
    color: #3C3C3C;
    font-size: 17px;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
}
.optionList{
   list-style: none;
    width:350px;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.itemsToPickFrom{
   display: inline-block;
    width:110px;
    margin: 0px auto;
    margin-top:20px;
}
.imgBrowserIcon{
    background-size: contain ;
    background-position:center center;
    height: 80px;
    width: 80px;
    margin-left: 15px;
    border: none;
}
.labelBrowser{
   text-align: center;
    color: #3B5998;
    font-weight: bold;
}
.itemsToPickFrom:hover .labelBrowser{
    text-decoration: underline;
}
.modalDialog{

    left: 25%;
    margin: 0 auto;
    min-height: 50px;
    /*height: 50%;*/
    padding: 1px;
    position: fixed;
    right: 25%;
    top: 25%;
    bottom:25%;
    width: 330px;
    z-index: 1006;
}
.contentModal{
    background: none repeat scroll 0 0 #03B8E6;
    border-radius: 5px;
    padding: 20px 20px 40px;
    position: relative;
    text-align: center;
    min-height: 50px;
    z-index:1007;
}
.labelModal{
    color: #ffffff;
    font-size: 18px;
    min-height: 60px;
    min-width: 210px;
    position: relative;
    top: 5px;
    word-wrap: break-word;
}
.actionModal{
    margin: 0 auto;
    position: relative;
    top: 30px;
    min-width: 150px;
}
.modalButton{
    font-size: 1.1em;
    margin-right: 3px;
    min-width: 70px;
    /*border: none;*/
    z-index:1007;

}
.verticalCenter{
    height:100%;
}


/*end modalAlert*/

/*popUp style start*/
.shape_popUp_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #c1c1c1;
    z-index: 1005;
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.modalPopUp{
    /*bottom: 25%;*/
    left: 25%;
    margin: 0 auto;
    min-width: 330px;
    padding: 1px;
    position: fixed;
    right: 25%;
    top: 25%;
    width: 350px;
    z-index: 1006;
}

.contentPopUp{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 3px;
    min-width: 330px;
    position: relative;
}

.headerPopUp{
    border-bottom: 1px solid #E9E9E9;
    height: 40px;
    min-width: 330px;
    position: relative;
    text-align: center;
    top: 0;
}
.headerTitle{
    color: #ADADAD;
    font-size: 17px;
    font-weight: bold;
    line-height: 40px;
}
.bodyPopUp{
    position: relative;
}
.popUpCloseButton{
    background: none repeat scroll 0 0 #5EACE6;
    border: medium none;
    border-radius: 3px;
    color: #FFFFFF;
    float: right;
    font-size: 17px;
    font-weight: bold;
    width: 22px;

}
.popUpCloseButton:hover{
   color:#c1c1c1;
}

/*popUp style end*/

/*confirmation style start*/
.wrapConfirmationBox{
    bottom: 1%;
    left: 25%;
    position: fixed;
    right: 25%;
    z-index: 1008;
}
.contentConfirmBox{
    background: none repeat scroll 0 0 #1C1C1C;
    border-radius: 3px;
    color: #FFFFFF;
    line-height: 25px;
    margin: 0 auto;
    opacity: 0.9;
    padding: 5px;
    text-align: center;
    width: 250px;
    font-weight: bold;
}
/*confirmation style end*/