
<div shape-visible = "@notLoggedIn">
    User:<input id="user" type="text"   shape-model = "@user">
    Pass:<input id="pass" type="text"   shape-model = "@pass">
    Tenant:<input id="tenant" type="text" shape-model = "@tenant">
    <button id="login"   shape-event = "removeAllCompleted" > Login! </button>
</div>

<div shape-visible="@loggedIn">
    <input id="inp" type="text" shape-model="@newTitle" placeholder="What to send?" autofocus>
    <input id="out" type="text" shape-model="@output" >
</div>



