<section id="todoapp">
    <header id="header">
        <h1>Shape Tests</h1>
    </header>

    <div id="main" >
        <ul id="todo-list"  shape-model="@currentSelection">
        </ul>
    </div>

    <footer id="footer">
        <ul id="filters">
            <li>
                <a class="selected" href="#selection/all">All</a>
            </li>
            <li>
                <a href="#selection/passed">Passed</a>
            </li>
            <li>
                <a href="#selection/failled">Failled</a>
            </li>
        </ul>
        <button id="clear-completed" shape-ctrl="button" shape-event="runTests">
            Run all tests
        </button>
    </footer>
</section>
<footer id="info">

</footer>

