<section id="todoapp">
    <header id="header">
        <h1>todos</h1>
        <input id="new-todo" type="text" shape-model="@newTitle" placeholder="What needs to be done?" autofocus>
    </header>

    <div id="main" >
        <input id="toggle-all" type="checkbox" shape-model="@selectAll" shape-ctrl="base/checkbox" checked="@selectAll">
        <label for="toggle-all">Mark all as complete</label>

        <ul id="todo-list"  shape-model="@current" shape-context="todoContext">
        </ul>
    </div>

    <footer id="footer">
        <span id="todo-count">
            <strong shape-ctrl="base/label" shape-model = '@todoCount'></strong>

            <label shape-ctrl="base/label" value='(@todoCount<=1)?L("item left"):L("items left")'></label>
        </span>

        <ul id="filters">
            <li>
                <a class="selected" href="#selection/allTasks">All</a>
            </li>
            <li>
                <a href="#selection/activeTasks">Active</a>
            </li>
            <li>
                <a href="#selection/completedTasks">Completed</a>
            </li>
        </ul>

        <button id="clear-completed" shape-visible = "@completedCount" shape-event = "removeAllCompleted">
            Remove all completed (<span shape-ctrl="base/label" shape-model = "@completedCount"></span>)
        </button>
    </footer>
</section>
<footer id="info">
    <p>Double-click to edit a todo</p>
    <p>Created to show <b>shape js</b>'s capabilities for <a href="http://github.com/tshm/todomvc/">TODOMVC project </a> by Sînică Alboaie </p>

    <p><b>Recently created task:</b> <span shape-view="task.render"></span></p>
</footer>

