<div >
    <b>Binding example: </b> <div shape = "base/input" model="@labelStyle" style="display:inline-block;"> </div>
        <div shape = "base/button" model="@buttonModel.text" > </div>
    <div shape = "base/label"  model ="@labelStyle" class = "@labelStyle">  </div>
    <b>Result: </b> <div shape = "base/label" model="@labelText" style="display:inline-block;"> </div>
    <div shape = "base/label"  model ="@labelText" class = "@labelStyle">  </div>
    <div shape ="base/checkbox" model="@isBold"> </div>

</div>
